@import "globals";
@import "./components/Container";
@import "./components/Nav";
@import "./components/Formula";
@import "./components/Input";
@import "./components/Data";
@import "./components/Chart";
@import "./components/ComboBox";

h1 {
  color: blue;
}

body {
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  padding: 2rem;
  gap: 3rem;
}

.input-data {
  padding: 2rem;
  background: #e4e4e4;
  border-radius: 1rem;
}

.extra-data {
  background: #93b5c6;
  color: #fff;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}

.footer {
  width: 100%;
  padding: 1rem;

  text-align: center;
  background: #93b5c6;
  color: #fff;
}

.media-no-repited {
  margin: 0 3rem;
}

.life-cycle-text {
  margin: 0.5rem 0;
  line-height: 2;
}
