* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background: #eeee;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
  padding: 1rem 2rem;
  background: #93b5c6;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.nav__name-method {
  font-size: 1.5rem;
  color: #93b5c6;
}

.formula {
  background: #93b5c6;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.input {
  margin: 1rem 0;
}

.input label {
  font-size: 1.2rem;
  color: #93b5c6;
  font-weight: 500;
}

.input__seed {
  padding: 0.5rem 0.5rem;
  color: #93b5c6;
  width: 100%;
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: #93b5c6;
  color: #fff;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.data {
  padding: 1rem;
  background: #e4e4e4;
  width: 100%;
  min-height: 60vh;
  max-height: 60vh;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-y: scroll;
}

.data .result-container {
  background: #fff;
  color: #c0b8b8;
  font-weight: 500;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.3125rem 0.3125rem 1.25rem #27272754;
          box-shadow: 0.3125rem 0.3125rem 1.25rem #27272754;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}

.data .result-container:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.9375rem #ff6384;
          box-shadow: 0.3125rem 0.3125rem 0.9375rem #ff6384;
}

.data .result-container .number {
  height: 100%;
}

.data .result-container div .pseudo .no-repited {
  font-weight: 600;
  color: #ff6384;
}

.data .result-container div .seed,
.data .result-container div .pseudo {
  margin: 0.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data .result-container div .seed span,
.data .result-container div .pseudo span {
  margin-left: 0.5rem;
}

.chart {
  padding: 2rem 2rem;
}

.select-method {
  padding: 0.5rem;
  color: #93b5c6;
  font-weight: 800;
  border: none;
  outline: none;
  cursor: pointer;
}

.verifications p {
  background: #fff;
  border-radius: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem;
  -webkit-box-shadow: 0 0 40px -10px #272727;
          box-shadow: 0 0 40px -10px #272727;
  margin: 2rem 0;
}

h1 {
  color: blue;
}

body {
  font-family: "Roboto", sans-serif;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  gap: 3rem;
}

.input-data {
  padding: 2rem;
  background: #e4e4e4;
  border-radius: 1rem;
}

.extra-data {
  background: #93b5c6;
  color: #fff;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}

.footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: #93b5c6;
  color: #fff;
}

.media-no-repited {
  margin: 0 3rem;
}

.life-cycle-text {
  margin: 0.5rem 0;
  line-height: 2;
}
/*# sourceMappingURL=main.css.map */