.data {
  padding: 1rem;
  background: #e4e4e4;
  width: 100%;
  min-height: 60vh;
  max-height: 60vh;

  border-radius: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  overflow-y: scroll;

  .result-container {
    background: #fff;
    color: #c0b8b8;
    font-weight: 500;
    height: min-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;

    box-shadow: 0.3125rem 0.3125rem 1.25rem #27272754;
    transform: scale(1);
    transition: transform 0.3s ease;
    // transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.15);
      box-shadow: 0.3125rem 0.3125rem 0.9375rem rgb(255, 99, 132);
    }

    .number {
      height: 100%;
    }

    div {
      .seed {
      }

      .pseudo {
        .no-repited {
          font-weight: 600;
          color: rgb(255, 99, 132);
        }
      }

      .seed,
      .pseudo {
        margin: 0.2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
