.data {
  padding: 1rem;
  background: #e4e4e4;
  width: 100%;
  min-height: 60vh;
  max-height: 60vh;

  border-radius: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  overflow-y: scroll;

  div {
    background: #fff;
    color: #c0b8b8;
    font-weight: 500;
    height: min-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;

    box-shadow: 5px 5px 25px #27272754;

    .no-repited {
      font-weight: 600;
      color: rgb(255, 99, 132);
    }
  }
}
