.nav {
  display: flex;
  justify-content: space-between;

  padding: 1rem 2rem;
  background: #93b5c6;

  top: 0;
  position: sticky;

  &__name-method {
    font-size: 1.5rem;
    color: #93b5c6;
  }
}
